$deep-grey: #ced4da;
$light-grey: #f5f5f5;
$font-color: #2b3139;
$hover-bg: #e9f4f8;
// $hover-bg: #f3f4f4;

.pano-wb-tools {
  font-family: Arial, SF Pro SC, SF Pro Text, SF Pro Icons, Helvetica Neue,
    Helvetica, Microsoft YaHei, 微软雅黑, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.pano-whiteboard-toolbar {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 12px;
  @media all and (max-width: 768px) {
    width: 100vw;
    padding: 0 8px;
  }
  .toolbar-input-types {
    display: flex;
    flex-wrap: wrap;
    .input-type {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-grey;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-left: 8px;
      cursor: pointer;
      @media all and (max-width: 768px) {
        width: 28px;
        height: 28px;
        margin-left: 0;
        border-radius: 0;
      }
      &--selected {
        background-color: $deep-grey;
      }
      &--with-input {
        width: auto;
        padding: 0 8px;
        cursor: default;
        label {
          cursor: pointer;
          display: flex;
          align-items: center;
          input {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .toolbar-input-groups {
    display: flex;
    padding: 0 20px;
    background-color: $light-grey;
    border-radius: 8px;
    @media all and (max-width: 768px) {
      padding: 0 8px;
    }
    .toolbar-input-group {
      display: flex;
      position: relative;
      align-items: center;
      height: 36px;
      input[type='number'] {
        margin-left: 10px;
        width: 40px;
        padding-left: 5px;
        border: 1px solid #999;
        border-radius: 2px;
        outline: none;
      }
      .color-block {
        margin-left: 5px;
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: relative;
        top: 2px;
      }
      .sketch-picker {
        position: absolute;
        top: 20px;
        left: 0;
        margin-top: 10px;
      }
      &__svg {
        cursor: pointer;
        padding: 3px 6px;
        &--selected {
          border-radius: 3px;
          background-color: $deep-grey;
        }
        svg {
          vertical-align: text-top;
        }
      }
    }
    .toolbar-input-group ~ .toolbar-input-group {
      @media all and (max-width: 768px) {
        margin-left: 5px;
      }
      margin-left: 20px;
    }
  }
}

.pano-wb-pages {
  position: absolute;
  z-index: 2;
  padding: 5px;
  right: 10px;
  bottom: 10px;
  display: flex;
  font-size: 14px;
  color: $font-color;
  display: flex;
  background-color: $light-grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  &__page-count {
    text-align: center;
    user-select: none;
  }
  &__btn,
  &__btn-add {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 3px;
    @media all and (max-width: 768px) {
      padding: 5px 4px;
    }
    &--disabled {
      cursor: not-allowed;
      svg {
        fill: #c0c4cc;
      }
    }
  }

  &__btn-add {
    padding: 0 3px;
  }
}

.pano-wb-zoom {
  position: absolute;
  z-index: 2;
  padding: 5px;
  left: 10px;
  bottom: 10px;
  display: flex;
  font-size: 14px;
  color: $font-color;
  display: flex;
  background-color: $light-grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  user-select: none;
  &__btn {
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 3px;
    @media all and (max-width: 768px) {
      padding: 5px 4px;
    }
  }
  &__zoom-rate {
    font-size: 12px;
  }
  &__clear-popup {
    position: absolute;
    background: #fff;
    border: 1px solid $light-grey;
    padding: 15px 10px;
    border-radius: 8px;
    right: -150px;
    bottom: 30px;
    box-shadow: 0 5px 20px 0 $deep-grey;
    .wb-clear-popup-item {
      background-color: #fff;
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      line-height: 32px;
      padding: 0 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      &:hover {
        background-color: $hover-bg;
      }
      &:disabled {
        color: #d5d5d5;
        cursor: not-allowed;
      }
    }
  }
}

.wb-img-wrapper {
  display: flex;
  align-items: center;
  margin: 8px 0;
  &__label {
    font-weight: bold;
    margin: 0 8px 0 15px;
    position: relative;
    @media all and (max-width: 768px) {
      margin: 0 5px 0 10px;
    }
    & ~ &::before {
      position: absolute;
      left: -5px;
      top: 1px;
      content: '';
      height: 16px;
      width: 1px;
      background-color: #999;
    }
  }
  input[type='text'] {
    width: 120px;
    padding-left: 5px;
    border: 1px solid #999;
    border-radius: 2px;
    outline: none;
    @media all and (max-width: 768px) {
      width: 35px;
    }
  }
  &__confirm {
    padding: 2px 4px;
    margin-left: 8px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    background-color: $light-grey;
  }
  label {
    display: flex;
    align-items: center;
    input {
      margin: 0 4px;
    }
  }
}
